input {
  font-weight: normal;
  font-size: 0.8em;
  line-height: 1.25em;
  padding: 16px 10px;
  width: 100%;
  color: #A0A2A4;
  border: none;
  border-bottom: 1px solid #e5e5e5;
  outline: none;
  -webkit-transition: border 0.3s ease, color 0.3s ease;
  -moz-transition: border 0.3s ease, color 0.3s ease;
  -o-transition: border 0.3s ease, color 0.3s ease;
  transition: border 0.3s ease, color 0.3s ease;
}

input:focus {
  border-bottom-color: #1C1D21;
  color: #1C1D21;
}

label {
    font-size: 12px;
    color: #000;
  }
.shadow-1{
    background-color: #fff;
    box-shadow: rgba(202, 202, 202, 0.3) 0px 1px 2px 0px, rgba(14, 14, 14, 0.358) 0px 1px 3px 2px;
}
.container-1{
    width: 50%;
}
.container-2{
    width: 90%;
}
.mr-2{
    margin-right: 5rem;
}
.pad-1{
    padding: 16px 10px 0px;
}
.text-decor{
    text-decoration: none;
}
.main{
    background: rgb(255,255,255);
  background: linear-gradient(180deg, rgb(0, 0, 0) 35%, rgb(167, 167, 167) 35%);
 
}
.width-30{
    width: 31.8%;
}

.card-body-1{
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
}
.card-1{
    min-height: 20rem !important;
    height: 100%;   
    border: none;
    border-radius: 0 !important;
}
.shadow-2{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.card-img-top{
    border-radius: 0 !important;
}
.card-title{
    margin-top: 0.5rem;
    font-size: large;
    font-weight: 500;
}
button{
    border: none;
    background-color: transparent;
}
select {
    border: none;
}

.drop-zone {
    height: 200px;
    padding: 25px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    color: #686464;
    border: 2px dashed #cccccc;
    border-radius: 0px;
    background-color: #f8f8ff;
  }
  
  .drop-zone--over {
    border-style: solid;
  }
  
  .drop-zone__input {
    display: none;
  }
  
  .drop-zone__prompt {
    margin-top: 10px;
  }
  
  .drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
  }
  
  .drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
  }
  .width-24{
    width: 1.2rem;
  }

@media only screen and (max-width: 767px) {
    .width-30{
        width: 100%;
    }
    .card-1 {
        padding: 1rem 1.5rem !important;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    }
    .card-1 img{
        height: 200px ;
        
    }
    .shadow-1{
        box-shadow:none;
    }
    .shadow-1 form{
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    .search{
        flex-wrap: wrap;
    }
    .search div {
 width: 100%;
 margin: 0 !important;
    }
    .container-1 {
        width: 90%;
    }
    .w-25 {
        width: 40%!important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .width-30{
        width: 47.5%;
    }
    .shadow-1{
        box-shadow:none;
    }

}